.file-input {
    display: none; /* Esconde o input real */
}

.file-label {
    display: inline-block;
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Mostra um cursor de ponteiro */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
}

.file-label:hover {
    background-color: #45a049; /* Cor do fundo ao passar o mouse */
}

/* Exibe o nome do arquivo selecionado */
.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
